body{
    text-align: center;
}
#top{
    background-color: #ffffff;
    height: 100px;
    border-bottom: #dddddd;
    border-bottom-style: solid;
}
#name{
    background-color:  #4aaaa5;
    color: white;
    float: left;
    margin-left: 220px;
    margin-bottom: 0px;
    padding: 20px;
    font-family: 'Georgia', Times, serif;
}
#links{
    float: right;
    font-size: 17px;
    margin-right: 190px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif
}
#about{
    font-size: 32px;
    color: #4aaaa5;
    float: left;
    margin: auto;
    margin-bottom: 30px;
    font-family: 'Georgia', Times, serif;
}
#tline{
    width: 900px;
    margin-bottom: 30px;
}
#story{
    margin: auto;
    width: 960px;
    border-style: solid;
    border-color: #dddddd;
    margin-top: 50px;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif
}
#pic{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
footer{
    background-color: #666666;
    height: 50px;
    font-size:10px;
    width: 100%;
    position: absolute;
}
#bline{
    width:100%;
    margin-bottom: 0px;
}
footer p{
    position:relative;
    margin-bottom: 0px;
    margin-top: 35px;
}
#contact{
    width: 650px;
    border-style: solid;
    border-color: #dddddd;
    margin-top: 50px;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 50px;
    height:670px;
    margin:auto;
    margin-bottom: 150px;
    margin-top: 50px;
}
.contact{
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin-right: 100%;
    font-size: 16px;
}
#contact h3{
    font-size: 32px;
    color: #4aaaa5;
    float: left;
    font-family: 'Georgia', Times, serif;
}
#cline{
    width:600px;

}
.box{
    width:600px;
}
#message{
    width:600px;
    height: 300px;
}
#submit{
    background-color: #4aaaa5;
    float: left;
    color: #ffffff;
    font-size: 16px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-top: 5px;
}
#portfolio{
    width: 650px;
    border-style: solid;
    border-color: #dddddd;
    margin-top: 50px;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 50px;
    height:670px;
    margin:auto;
    margin-bottom: 150px;
    margin-top: 50px;
}
#portfolio h3{
    font-size: 32px;
    color: #4aaaa5;
    float: left;
    font-family: 'Georgia', Times, serif;
}
.image{
    float: left;
    margin: 20px;
}
.container{
    position: relative;
}
#hangman{
    position: absolute;
    left: 10px;
    top: 100px;
    background-color: #4aaaa5;
    margin-right: 0px;
    padding-right: 100px;
    padding-left: 100px;
    color: #ffffff;
}
#rpg{
    position: absolute;
    left: 310px;
    right: 0px;
    top: 100px;
    background-color: #4aaaa5;
    padding-right: 0px;
    padding-left: 0px;
    color: #ffffff;
    width: 250px;
}
#trivia{
    position: absolute;
    color: #ffffff;
    top: 290px;
    background-color: #4aaaa5;
    left: 20px;
    padding-right: 85px;
    padding-left: 80px;
}
#rutgers{
    position: absolute;
    top: 290px;
    left: 310px;
    color: #ffffff;
    background-color: #4aaaa5;
    padding-right: 50px;
    padding-left: 60px;
}
#rock{
    position: absolute;
    color: #ffffff;
    background-color: #4aaaa5;
    top: 480px;
    padding-left: 60px;
    padding-right: 55px;
    left: 20px;
}
#index, #cpage{
    border-right: solid;
    padding-right: 10px;
    border-right-width: 1px;
}
