.content{
    margin: auto;
}
#pic{
    margin-top: 5%;
    margin-bottom: 5%;
}
#bottom{
    margin-bottom: 5%;
}
#contactInfo{
    background-color: white;
    margin-top: 100px;
    width: 300px;
    height: 300px;
    text-align: center;
    padding: 20px
}
#contactInfo a{
    color: red;
}
#contactInfo div{
    display: inline-block;
    margin: 3%;
}
.pimage{
    margin: 20px;
    width: 250px;
}

#proj{
    background-color: white;
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;
}

#proj div{
    display: inline-block;
    margin: 1%
}

